<?xml version="1.0"?>
<!--
/**
 * 1997-2013 Quadra Informatique
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0) that is available
 * through the world-wide-web at this URL: http://www.opensource.org/licenses/OSL-3.0
 * If you are unable to obtain it through the world-wide-web, please send an email
 * to ecommerce@quadra-informatique.fr so we can send you a copy immediately.
 *
 * @author Quadra Informatique <ecommerce@quadra-informatique.fr>
 * @copyright 1997-2013 Quadra Informatique
 * @version Release: $Revision: 3.0.0 $
 * @license http://www.opensource.org/licenses/OSL-3.0 Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Quadra_Atos>
            <version>3.0.0</version>
        </Quadra_Atos>
    </modules>
    <global>
        <models>
            <atos>
                <class>Quadra_Atos_Model</class>
            </atos>
        </models>
        <helpers>
            <atos>
                <class>Quadra_Atos_Helper</class>
            </atos>
        </helpers>
        <resources>
            <atos_setup>
                <setup>
                    <module>Quadra_Atos</module>
                </setup>
            </atos_setup>
        </resources>
        <blocks>
            <atos>
                <class>Quadra_Atos_Block</class>
            </atos>
        </blocks>
        <payment>
            <atos>
                <!-- Liste des pays supportées -->
                <merchant_country>
                    <be>
                        <code>be</code>
                        <name>Belgique</name>
                    </be>
                    <fr>
                        <code>fr</code>
                        <name>France</name>
                    </fr>
                    <de>
                        <code>de</code>
                        <name>Allemagne</name>
                    </de>
                    <it>
                        <code>it</code>
                        <name>Italie</name>
                    </it>
                    <es>
                        <code>es</code>
                        <name>Espagne</name>
                    </es>
                    <en>
                        <code>en</code>
                        <name>Royaume-Uni</name>
                    </en>
                </merchant_country>
                <!-- Liste des langages supportées -->
                <languages>
                    <fr>
                        <code>fr</code>
                        <name>Français</name>
                    </fr>
                    <en>
                        <code>en</code>
                        <name>Anglais</name>
                    </en>
                    <sp>
                        <code>sp</code>
                        <name>Espagnol</name>
                    </sp>
                    <ge>
                        <code>ge</code>
                        <name>Allemand</name>
                    </ge>
                    <it>
                        <code>it</code>
                        <name>Italien</name>
                    </it>
                </languages>
                <!-- Liste des devises supportées -->
                <currencies>
                    <EUR>
                        <code>978</code>
                        <iso>EUR</iso>
                        <name>Euro</name>
                    </EUR>
                    <USD>
                        <code>840</code>
                        <iso>USD</iso>
                        <name>Dollar US</name>
                    </USD>
                    <CHF>
                        <code>756</code>
                        <iso>CHF</iso>
                        <name>Franc Suisse</name>
                    </CHF>
                    <GBP>
                        <code>826</code>
                        <iso>GBP</iso>
                        <name>Livre Sterling</name>
                    </GBP>
                    <CAD>
                        <code>124</code>
                        <iso>CAD</iso>
                        <name>Dollar Canadien</name>
                    </CAD>
                    <JPY>
                        <code>392</code>
                        <iso>JPY</iso>
                        <name>Yen japonais</name>
                    </JPY>
                    <MXP>
                        <code>484</code>
                        <iso>MXP</iso>
                        <name>Peso mexicain</name>
                    </MXP>
                    <TRL>
                        <code>792</code>
                        <iso>TRL</iso>
                        <name>Ancienne lire turque</name>
                    </TRL>
                    <AUD>
                        <code>036</code>
                        <iso>AUD</iso>
                        <name>Dollar australien</name>
                    </AUD>
                    <NZD>
                        <code>554</code>
                        <iso>NZD</iso>
                        <name>Dollar néo-zélandais</name>
                    </NZD>
                    <NOK>
                        <code>578</code>
                        <iso>NOK</iso>
                        <name>Couronne norvégienne</name>
                    </NOK>
                    <BRC>
                        <code>986</code>
                        <iso>BRC</iso>
                        <name>Cruzeiro Brésilien</name>
                    </BRC>
                    <ARP>
                        <code>032</code>
                        <iso>ARP</iso>
                        <name>Peso argentin</name>
                    </ARP>
                    <KHR>
                        <code>116</code>
                        <iso>KHR</iso>
                        <name>Riel Cambodge</name>
                    </KHR>
                    <TWD>
                        <code>901</code>
                        <iso>TWD</iso>
                        <name>Dollar de Taiwan</name>
                    </TWD>
                    <DKK>
                        <code>208</code>
                        <iso>DKK</iso>
                        <name>Couronne danoise</name>
                    </DKK>
                    <CZK>
                        <code>203</code>
                        <iso>CZK</iso>
                        <name>Couronne tchèque</name>
                    </CZK>
                    <SEK>
                        <code>752</code>
                        <iso>SEK</iso>
                        <name>Couronne Suédoise</name>
                    </SEK>
                    <KRW>
                        <code>410</code>
                        <iso>KRW</iso>
                        <name>Won sud-coréen</name>
                    </KRW>
                    <SGD>
                        <code>702</code>
                        <iso>SGD</iso>
                        <name>Dollar de Singapour</name>
                    </SGD>
                </currencies>
                <!-- Liste des mots clés du champ data -->
                <data_field>
                    <CARD_NO_LOGO>
                        <code>CARD_NO_LOGO</code>
                        <name>CARD_NO_LOGO</name>
                    </CARD_NO_LOGO>
                    <NO_COPYRIGHT>
                        <code>NO_COPYRIGHT</code>
                        <name>NO_COPYRIGHT</name>
                    </NO_COPYRIGHT>
                    <NO_DISPLAY_CARD>
                        <code>NO_DISPLAY_CARD</code>
                        <name>NO_DISPLAY_CARD</name>
                    </NO_DISPLAY_CARD>
                    <NO_DISPLAY_CANCEL>
                        <code>NO_DISPLAY_CANCEL</code>
                        <name>NO_DISPLAY_CANCEL</name>
                    </NO_DISPLAY_CANCEL>
                    <NO_SSL_SYMBOLS>
                        <code>NO_SSL_SYMBOLS</code>
                        <name>NO_SSL_SYMBOLS</name>
                    </NO_SSL_SYMBOLS>
                    <NO_WINDOWS_MSG>
                        <code>NO_WINDOWS_MSG</code>
                        <name>NO_WINDOWS_MSG</name>
                    </NO_WINDOWS_MSG>
                    <NO_DISPLAY_URL>
                        <code>NO_DISPLAY_URL</code>
                        <name>NO_DISPLAY_URL</name>
                    </NO_DISPLAY_URL>
                    <NO_RESPONSE_PAGE>
                        <code>NO_RESPONSE_PAGE</code>
                        <name>NO_RESPONSE_PAGE</name>
                    </NO_RESPONSE_PAGE>
                </data_field>
            </atos>
        </payment>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <atos before="Mage_Adminhtml">Quadra_Atos_Adminhtml</atos>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <atos_api translate="title" module="atos">
                                            <title>Atos/Sips API Section</title>
                                        </atos_api>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Quadra_Atos>
                    <files>
                        <default>Quadra_Atos.csv</default>
                    </files>
                </Quadra_Atos>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <secure_url>
            <atos_payment>/atos/payment</atos_payment>
        </secure_url>
        <layout>
            <updates>
                <atos>
                    <file>atos.xml</file>
                </atos>
            </updates>
        </layout>
        <routers>
            <atos>
                <use>standard</use>
                <args>
                    <module>Quadra_Atos</module>
                    <frontName>atos</frontName>
                </args>
            </atos>
        </routers>
        <translate>
            <modules>
                <Quadra_Atos>
                    <files>
                        <default>Quadra_Atos.csv</default>
                    </files>
                </Quadra_Atos>
            </modules>
        </translate>
    </frontend>
    <default>
        <atos_api>
            <config_standard>
                <check_ip_address>0</check_ip_address>
            </config_standard>
            <config_several>
                <check_ip_address>0</check_ip_address>
            </config_several>
            <config_aurore>
                <check_ip_address>0</check_ip_address>
            </config_aurore>
            <config_euro>
                <check_ip_address>0</check_ip_address>
            </config_euro>
        </atos_api>
        <payment>
            <atos_standard>
                <active>0</active>
                <model>atos/method_standard</model>
                <title><![CDATA[Credit Card]]></title>
                <payment_action><![CDATA[authorize_capture]]></payment_action>
                <allowspecific>0</allowspecific>
            </atos_standard>
            <atos_several>
                <active>0</active>
                <model>atos/method_several</model>
                <title><![CDATA[Payment in several times]]></title>
                <payment_action><![CDATA[authorize]]></payment_action>
                <allowspecific>0</allowspecific>
                <nb_payment>2</nb_payment>
            </atos_several>
            <atos_aurore>
                <active>0</active>
                <model>atos/method_aurore</model>
                <title><![CDATA[Aurore Card]]></title>
                <payment_action><![CDATA[authorize]]></payment_action>
                <allowspecific>0</allowspecific>
            </atos_aurore>
            <atos_euro>
                <active>0</active>
                <model>atos/method_euro</model>
                <title><![CDATA[1EUROCOM]]></title>
                <payment_action><![CDATA[authorize_capture]]></payment_action>
                <allowspecific>0</allowspecific>
            </atos_euro>
        </payment>
    </default>
</config>
